#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#footerBtns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
}

.footerBtn {
    flex: 1;
    border-radius: 5px;
    background-color: #2F343D;
    color: #BAC0CE;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 10px;
    transition: background-color 0.2s ease;
}
.footerBtn:nth-child(2) {
    max-width: 75px;
}

.footerBtn:hover {
    background-color: #404651;
}

button.footerBtn {
    border: none;
    cursor: pointer;
}

button.footerBtn img {
    filter: brightness(1.1);
}

#brandingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top: 1px solid #565c68;
}

#brandingText {
    font-size: 12px;
    color: #BAC0CE;
}

#brandingText a {
    color: #BAC0CE;
    text-decoration: none;
}

#customSolutionDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #2F343D;
    border-radius: 5px;
    color: #BAC0CE;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
#customSolutionDiv:hover {
    background-color: #404651;
}
#customSolutionText {
    font-size: 12px;
    font-weight: bold;
    color: #BAC0CE;
    text-decoration: none;
}
#customSolutionDiv a{
    color: #BAC0CE;
}

