#detailDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    width: 100%;
}

#detailsHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

#detailsCheckbox {
    width: 15px;
    height: 15px;
    accent-color: #BAC0CE;
}

#detailsText {
    font-size: 18px;
    font-weight: bold;
    color: #BAC0CE;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#detailsBtn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#detailsBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.detailDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.detailField {
    font-size: 12px;
    font-weight: bold;
    color: #BAC0CE;
    background-color: #2F343D;
    height: 25px;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detailValue {
    flex: 1;
    font-size: 12px;
    color: #BAC0CE;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}

#detailsFooter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#detailsBackBtn {
    width: 100%;
    height: 30px;
    background-color: #2F343D;
    border: none;
    border-radius: 5px;
    color: #BAC0CE;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#detailsBackBtn:hover {
    background-color: #404651;
}
