#guideDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
}

#guideContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.guideQuestion {
    font-size: 20px;
    font-weight: bold;
    color: #BAC0CE;
    margin-bottom: 10px;
}

.guideText {
    font-size: 16px;
    font-weight: 500;
    color: #BAC0CE;
}

#guideBackBtn {
    width: 100%;
    height: 30px;
    background-color: #2F343D;
    border: none;
    border-radius: 5px;
    color: #BAC0CE;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#guideBackBtn:hover {
    background-color: #404651;
}