#reloadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.reloadMessage {
    font-size: 16px;
    text-align: center;
    color: #BAC0CE;
    font-weight: 500;
}

#reloadBtn {
    padding: 10px 20px;
    background-color: #2F343D;
    color: #BAC0CE;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#reloadBtn:hover {
    background-color: #404651;
}
